<div class="container">
    <%= form_for(@boards) do |f| %>
      <div><%= f.label :name,class: 'text' %></div>       #title（タスク）の項目名
      <div><%= f.text_field :discription,class: 'text' %></div>  #title（タスク）の入力エリア
      <div><%= f.submit %></div>             #送信ボタン
    <% end %>
    <%= link_to '戻る', tasks_path %>
</div>