<div class="container">
    <%= form_for(@boards) do |f| %>
      <div class="field">
        <div><%= f.label :name,class: 'text' %></div>
        
      </div>
      <div class="field">

        <div><%= f.text_field :discription,class: 'text' %></div> 
      </div>

      <div><%= f.submit %></div>  
    <% end %>
    <%= link_to '戻る', boards_path %>
</div>